<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Is your advice unethical?</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

 <div class="topnav">
  <a href="home" color="white">Home</a>
  <a class="active" href="about">About</a>
  <a href="">Blog</a>
  <a href="https://github.com/scatkinson/is_your_advice_unethical">GitHub Repository</a>
</div> 

<div class="about_body">
<h1>About</h1>

This is the product of a machine learning project.

</div>
</body>
</html>